<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['/home']">HOME</a>
      </li>


    </ul>
  </div>
  <div class="" style="float: right; margin-right: 10px" id="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" [routerLink]="['/home']">Login</a>
      </li>
    </ul>

  </div>
</nav>
